.not {
  max-width: 375px;
  &__flex {
    position: relative;
  }
  &__container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  &__title {
    color: #000;
    font-size: 128px;
    font-weight: 500;
    line-height: 102%; /* 130.56px */
  }
  &__text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 111%; /* 19.98px */
    margin: 20px 0 40px 0;
  }
  &__button {
    display: flex;
    width: 199px;
    height: 55px;
    padding: 22px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    margin-left: 27px;
  }
  &__button a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 102%; /* 18.36px */
  }
  &__button a:visited {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  &__gear1 {
    position: absolute;
    left: -38px;
    top: -165px;
  }
  &__gear2 {
    position: absolute;
    bottom: -87px;
    left: -12px;
  }
  &__gear3 {
    position: absolute;
    bottom: -167px;
    right: -38px;
  }
  &__gear4 {
    position: absolute;
    top: -81px;
    right: -38px;
  }
}
