.success {
  &__flex {
    position: relative;
  }
  &__back {
    display: inline-flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #f8f8ff;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__back a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 102%; /* 16.32px */
  }
  &__back a:visited {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 102%; /* 16.32px */
  }
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    color: #000;
    font-size: 84px;
    font-weight: 500;
    line-height: 102%; /* 130.56px */
  }
  &__text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 111%; /* 19.98px */
    margin: 20px 0 40px 0;
  }
  &__button {
    display: flex;
    width: 175px;
    height: 55px;
    padding: 22px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    margin-left: 27px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 102%; /* 18.36px */
    cursor: pointer;
  }
  &__button:first-child {
    margin-left: 100px;
  }
  &__button:last-child {
    margin-right: 100px;
  }
  &__row {
    display: flex;
  }
  &__item1 {
    position: absolute;
    top: 37px;
    left: -235px;
  }
  &__item2 {
    position: absolute;
    bottom: 30px;
    left: -154px;
  }
  &__item3 {
    position: absolute;
    bottom: 45px;
    right: -133px;
  }
  &__item4 {
    position: absolute;
    top: -5px;
    right: -262px;
  }
}
