.last {
  min-width: 375px;
  margin: 0 auto;
  padding: 0px 8px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.last__title {
  text-align: left;
  margin-bottom: 30px;
}

.case {
  margin-bottom: 20px;
  height: 100%;
}

.cases__column {
  border-radius: 30px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the column element takes the full height */
}

.column {
  border-radius: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the column element takes the full height */
  justify-content: space-between; /* Distribute space between items */
}

.column__img {
  min-width: 299px;
  height: 209px;
  border-radius: 25px 25px 0px 0px;
  background: #f8f8f8;
}

.column__img img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
}

.column__title {
  margin-top: 20px; /* Ensure the title has a top margin of 20px */
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 110%;
  flex-grow: 1; /* Ensure the title takes available space */
  display: flex;
  align-items: flex-start; /* Align title at the top of its flex container */
}

.column__title a {
  color: #000;
  text-decoration: none;
}

.column__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto; /* Push row to the bottom */
}

.column__sphere {
  border-radius: 20px;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #3b3b3b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 102%; /* 14.28px */
}

.column__button {
  width: 34px;
  height: 34px;
}

.column__button img {
  width: 100%;
}

.slick-slide {
  display: flex !important; /* Ensure slick-slide is a flex container */
  align-items: stretch !important; /* Ensure slides stretch to the same height */
}

.slick-list {
  display: flex;
}

.slick-track {
  display: flex;
}
