.case {
  margin: -5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the case element takes the full height */
}

.last {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 100px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.last__title {
  text-align: left;
  margin-bottom: 40px;
}

.casesContainer {
  position: relative;
}

.cases__row {
  display: flex;
  flex-wrap: wrap;
}

.cases__column {
  border-radius: 30px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the column element takes the full height */
}

.column {
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the column element takes the full height */
  justify-content: space-between; /* Distribute space between items */
}

.column__img {
  height: 230px;
  border-radius: 30px 30px 0px 0px;
  background: #f8f8f8;
  margin: 0 auto;
}

.column__img img {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0px 0px;
}

.column__title {
  margin-top: 20px; /* Ensure the title has a top margin of 20px */
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 110%;
  flex-grow: 1; /* Ensure the title takes available space */
  display: flex;
  align-items: flex-start; /* Align title at the top of its flex container */
}

.column__title a {
  text-decoration: none;
  color: #000;
}

.bottomButtons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.column__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto; /* Push row to the bottom */
}

.column__button {
  width: 36px;
  height: 36px;
}

.column__button img {
  width: 100%;
  height: 100%;
}

.column__sphere {
  border-radius: 20px;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #000;
}

.arrows {
  display: flex;
  align-items: center;
}

.arrow {
  cursor: pointer;
  margin-right: 10px;
  padding: 22px;
  border-radius: 10px;
  background: #fafafa;
}

.requestButton {
  display: inline-flex;
  height: 60px;
  padding: 22px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fafafa;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.slick-slide {
  display: flex !important; /* Ensure slick-slide is a flex container */
  align-items: stretch !important; /* Ensure slides stretch to the same height */
}

.slick-list {
  display: flex;
}

.slick-track {
  display: flex;
}
